<!-- views/index.ejs -->

<% include partials/header %>

    <div class="jumbotron text-center">
        <h1><span class="fa fa-credit-card"></span> Cents Trail</h1>

        <p>Login or Register:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/register" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <% if (success.length > 0) { %>
                <div class="alert alert-success"><%= success %></div>
            <% } %>
        </div>
    </div>

<% include partials/footer %>